@font-face {
    font-family: "Y-B008YeZiGongChangDanDanHei-2";
    src: url("./Y-B008YeZiGongChangDanDanHei-2.eot"); /* IE9 */
    src: url("./Y-B008YeZiGongChangDanDanHei-2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./Y-B008YeZiGongChangDanDanHei-2.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("./Y-B008YeZiGongChangDanDanHei-2.woff") format("woff"), /* chrome, firefox */
    url("./Y-B008YeZiGongChangDanDanHei-2.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("./Y-B008YeZiGongChangDanDanHei-2.svg#Y-B008YeZiGongChangDanDanHei-2") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


